<h1><%= @user.username %>'s Liked Photos</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>Owner</th>
      <th>Liked At</th>
    </tr>
  </thead>
  <tbody>
    <% @liked_photos.each do |photo| %>
      <tr>
        <td><%= image_tag(photo.image.url, alt: "Photo", width: 200) if photo.image.present? %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.owner.username %></td>
        <td><%= time_ago_in_words(photo.created_at) %> ago</td>
      </tr>
    <% end %>
  </tbody>
</table>

