<div>
  <h1><%= @the_user.username %></h1>
  <dl>
    <dt>Private</dt>
    <dd><%= @the_user.private ? "Yes" : "No" %></dd>

    <dt>Followers</dt>
    <dd><%= @followers_count %></dd>

    <dt>Following</dt>
    <dd><%= @following_count %></dd>

    <% if current_user == @the_user %>
      <dt>Pending Follow Requests</dt>
      <dd>
        <% @pending_follow_requests.each do |request| %>
          <p>
            <%= request.sender.username %>
            <%= link_to "Accept", update_follow_request_path(request.id, status: "accepted"), method: :post %> |
            <%= link_to "Reject", update_follow_request_path(request.id, status: "rejected"), method: :post %>
          </p>
        <% end %>
      </dd>
    <% end %>
  </dl>

  <nav>
    <ul>
      <li><%= link_to "Profile", user_profile_path(@the_user.username) %></li>
      <li><%= link_to "Liked Photos", photos_path(liked_by: @the_user.id) %></li>
      <li><%= link_to "Feed", user_feed_path(current_user.username) %></li>
      <li><%= link_to "Discover", discover_path %></li>
    </ul>
  </nav>

  <h2>Photos</h2>
  <table border="1">
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption</th>
      <th>Posted</th>
      <th>Likes</th>
      <th></th>
    </tr>
<% @the_user.photos.each do |photo| %>
    <tr>
      <td><%= image_tag(photo.image.url, alt: "Photo", width: 300) if photo.image.present? %></td>
      <td><%= photo.owner.username %></td>
      <td><%= photo.caption %></td>
      <td><%= time_ago_in_words(photo.created_at) %> ago</td>
      <td><%= photo.likes_count || 0 %></td>
      <td>
        <%= link_to "Show Details", photo_path(photo.id) %>
      </td>
    </tr>
  <% end %>
</table>
</div>
