<div>
  <h1><%= @the_user.username %></h1>

  <dl>
    <dt>Private</dt>
    <dd><%= @the_user.private ? "Yes" : "No" %></dd>

    <dt>Followers</dt>
    <dd><%= @followers_count %></dd>

    <dt>Following</dt>
    <dd><%= @following_count %></dd>

    <% if current_user == @the_user %>
      <dt>Pending Follow Requests</dt>
      <dd>
        <% @pending_follow_requests.each do |request| %>
          <p>
            <%= request.sender.username %>
            <%= link_to "Accept", update_follow_request_path(request.id, status: "accepted"), method: :post %> |
            <%= link_to "Reject", update_follow_request_path(request.id, status: "rejected"), method: :post %>
          </p>
        <% end %>
      </dd>
    <% end %>
  </dl>

  <nav>
    <ul>
      <li><%= link_to "Profile", user_profile_path(@the_user.username) %></li>
      <li><%= link_to "Liked Photos", photos_path(liked_by: @the_user.id) %></li>
      <li><%= link_to "Feed", feed_path %></li>
      <li><%= link_to "Discover", discover_path %></li>
    </ul>
  </nav>

  <h2>Photos</h2>
  <table>
    <tr>
      <th>Image</th>
      <th>Caption</th>
    </tr>
    <% @the_user.photos.each do |photo| %>
      <tr>
        <td><img src="<%= photo.image %>" alt="Photo" width="300"></td>
        <td><%= photo.caption %></td>
      </tr>
    <% end %>
  </table>
</div>
