<div>
  <h1><%= @the_user.username %></h1>
  <dl>
    <dt>Private</dt>
    <dd><%= @the_user.private ? "true" : "false" %></dd>

    <dt>Followers</dt>
    <dd><%= @followers_count %></dd>

    <dt>Following</dt>
    <dd><%= @following_count %></dd>

<% if user_signed_in? && current_user != @the_user %>
  <% if current_user.following?(@the_user) %>
    <%= link_to "Unfollow", follow_request_path(current_user.sent_follow_requests.find_by(recipient: @the_user)), method: :delete, class: "text-danger" %>
  <% else %>
    <% if @the_user.private %>
      <%= button_to "Request Follow", follow_requests_path(query_recipient_id: @the_user.id), method: :post, class: "btn btn-secondary" %>
    <% else %>
      <%= button_to "Follow", follow_requests_path(query_recipient_id: @the_user.id), method: :post, class: "btn btn-primary" %>
    <% end %>
  <% end %>
<% end %>

    <% if current_user == @the_user %>
      <dt>Pending Follow Requests</dt>
      <dd>
        <% @pending_follow_requests.each do |request| %>
          <p>
            <%= request.sender.username %>
            <%= link_to "Accept", accept_follow_request_path(request.id), method: :patch, class: "btn btn-success" %>
            <%= link_to "Reject", reject_follow_request_path(request.id), method: :delete, class: "btn btn-danger" %>
          </p>
        <% end %>
      </dd>
    <% end %>
  </dl>

  <nav>
    <ul>
      <li><%= link_to "Profile", user_profile_path(@the_user.username) %></li>
      <li><%= link_to "Liked Photos", user_liked_photos_path(@the_user.username) %></li>
      <li><%= link_to "Feed", user_feed_path(@the_user.username) %></li>
      <li><%= link_to "Discover", user_discover_path(@the_user.username) %></li>
    </ul>
  </nav>

  <h2>Own Photos (<%= @the_user.photos.count %>)</h2>
  <table border="1">
    <tr>
      <th>Image</th>
      <th>Owner</th>
      <th>Caption</th>
      <th>Posted</th>
      <th>Likes</th>
      <th></th>
    </tr>
<% @the_user.photos.each do |photo| %>
    <tr>
      <td><%= image_tag(photo.image.url, alt: "Photo", width: 300) if photo.image.present? %></td>
      <td><%= photo.owner.username %></td>
      <td><%= photo.caption %></td>
      <td><%= time_ago_in_words(photo.created_at) %> ago</td>
      <td><%= photo.likes_count || 0 %></td>
      <td>
        <%= link_to "Show Details", photo_path(photo.id) %>
      </td>
    </tr>
  <% end %>
</table>
</div>
