<h1>Discover Photos</h1>

<% if @discover_photos.any? %>
  <div>
    <% @discover_photos.each do |photo| %>
      <div>
        <img src="<%= photo.image %>" alt="Photo" width="300">
        <p>Caption: <%= photo.caption %></p>
        <p>Posted by: <%= link_to photo.owner.username, user_profile_path(photo.owner.username) %></p>
        <p>Liked by: <%= photo.likes.map { |like| like.fan.username }.join(", ") %></p>
        <p>Posted: <%= time_ago_in_words(photo.created_at) %> ago</p>
      </div>
      <hr>
    <% end %>
  </div>
<% else %>
  <p>No photos to discover yet. Follow people and explore their likes to see photos here!</p>
<% end %>
