<div>
  <div>
    <h1>
      List of photos
    </h1>
  </div>
</div>

<div>
  <div>
    <table border="1">
      <tr>
        <th>
          Image
        </th>

        <th>
          Caption
        </th>

        <th>
          Owner
        </th>

        <th>
          Posted
        </th>

        <th>
          Likes
        </th>

        <th>
        </th>
      </tr>

      <% @public_photos.each do |photo| %>
      <tr>
        <td>
          <%= image_tag(photo.image.url, alt: "Photo", width: 300) if photo.image.present? %>
        </td>

        <td>
          <%= photo.caption %>
        </td>

        <td>
          <%= photo.owner.username %>
        </td>

        <td>
          <%= time_ago_in_words(photo.created_at) %> ago
        </td>        

        <td>
          <%= photo.likes_count %>
        </td>

        <td>
          <a href="/photos/<%= photo.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
